<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">Test Execution</h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">Test Execution</li>
        <!-- <li class="breadcrumb-item position-relative">Mobile</li> -->
    </ol>
</div>

<!-- Textual Inputs -->

<div class="card-container">
    <mat-card class="qot-card mb-25 border-radius bg-white border-none d-block">
        <mat-card-header>
            <mat-card-title>
                <h5 class="mt-0 mb-0">Execute Mobile Tests</h5>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img mat-card-image src="/assets/images/mobile-tests.jpg" alt="Mobile Tests" />

            <div>
                <label for="mobile-build-number">Last Build Number: {{ buildNumbers['mobile'] }}</label>
            </div>
            <p>Run all mobile tests in the pipeline.</p>
            <button mat-raised-button color="primary" (click)="runPipelineMobile()">Run Mobile Tests</button>
            <button mat-raised-button color="accent" (click)="viewReportMobile()">View Mobile Report</button>
        </mat-card-content>
    </mat-card>

    <mat-card class="qot-card mb-25 border-radius bg-white border-none d-block">
        <mat-card-header>
            <mat-card-title>
                <h5 class="mt-0 mb-0">Execute Web Tests</h5>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img mat-card-image src="/assets/images/web-tests.png" alt="Web Tests" />
            <div>
                <label for="web-build-number">Last Build Number: {{ buildNumbers['web'] }}</label>
            </div>
            <p>Run all web tests in the pipeline.</p>
            <button mat-raised-button color="primary" (click)="runPipelineWeb()">Run Web Tests</button>
            <button mat-raised-button color="accent" (click)="viewReportWeb()">View Web Report</button>
        </mat-card-content>
    </mat-card>

    <mat-card class="qot-card mb-25 border-radius bg-white border-none d-block">
        <mat-card-header>
            <mat-card-title>
                <h5 class="mt-0 mb-0">Execute API Tests</h5>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img mat-card-image src="/assets/images/api-tests.png" alt="API Tests" />

            <div>
                <label for="api-build-number">Last Build Number: {{ buildNumbers['api'] }}</label>
            </div>
            <p>Run all API tests in the pipeline.</p>
            <button mat-raised-button color="primary" (click)="runPipelineApi()">Run API Tests</button>
            <button mat-raised-button color="accent" (click)="viewReportApi()">View API Report</button>
        </mat-card-content>
    </mat-card>
</div>
